<div class="register-container">
  <div class="header-bar"></div>
  <div class="form-box">
    <img
      src="logo-kosplay.png"
      alt="Kosplay logo: black play button symbol on pink square background with KOSPLAY text below"
      class="logo"
      style="width: 150px; height: 150px; border: 0"
    />

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Nome completo</mat-label>
        <input matInput formControlName="userName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Data de nascimento</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Telefone</mat-label>
        <input matInput type="tel" formControlName="phone" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirmar senha</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
      </mat-form-field>
      <div
        *ngIf="
          registerForm.errors?.['passwordsMismatch'] &&
          registerForm.get('confirmPassword')?.touched
        "
        style="color: red; font-size: 12px"
      >
        As senhas não coincidem.
      </div>

      <div formArrayName="rolesId">
        <label class="perfil-text">Selecione seu perfil</label>
        <mat-radio-group
          [formControlName]="'rolesId'"
          style="display: flex; gap: 24px"
        >
          <mat-radio-button *ngFor="let role of roles" [value]="role.id">{{
            role.name
          }}</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="terms">
        <mat-checkbox formControlName="acceptTerms"
          >Li e aceito os <a href="#">termos e condições</a></mat-checkbox
        >
      </div>

      <button type="submit" mat-flat-button color="accent">CADASTRAR</button>
    </form>
  </div>
</div>
