<div class="login-container">
  <div class="header-bar"></div>
  <div class="form-box">
    <img
      src="logo-kosplay.png"
      alt="Kosplay logo: black play button symbol on pink square background with KOSPLAY text below"
      class="logo"
      style="width: 150px; height: 150px; border: 0"
    />

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Digite seu e-mail"
          title="Campo de entrada para e-mail"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Digite sua senha"
          title="Campo de entrada para senha"
        />
      </mat-form-field>
      <span class="recover-password d-flex justify-content-end"
        ><a href="#">Recuperar Senha</a></span
      >
      <button type="submit">Entrar</button>
      <button type="button" (click)="RedirectToRegister()">Cadastrar</button>
    </form>
  </div>
</div>
